 <header>
        <div class="container">
            <div class="logo">
                <h1><span>Digit</span>Soft</h1>
                <p>Soluciones Tecnológicas</p>
            </div>
            <nav>
                <ul id="navMenu">
                    <li><a href="#" id="menuToggle"><i class="fas fa-bars"></i> Menú</a></li>
                    <li title="Inicio"><a href="#inicio">Inicio</a></li>
                    <li title="Servicios"><a href="#servicios">Servicios</a></li>
                    <li><a href="#productos">Productos</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                    <li><a href="#" id="ingresoBtn">Ingreso</a></li>

                </ul>
                <div class="menu-toggle" id="mobileMenu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>