  <div class="sidebar-overlay"></div>
    <div class="sidebar">
        <div class="sidebar-header">
            <h3>Menú de Gestión</h3>
            <button class="close-sidebar">&times;</button>
        </div>
        <ul class="sidebar-menu">


            <div class="gestion clientes, orden de servicios y facturacion">
                <a href="modulos/Gestion Clientes.html"><i class="fas fa-truck"></i> Gestión de Clientes, Orden de
                    Servicios y
                    Facturación</a>
            </div>

            <div class="administrador">
                <a href="modulos/administrador.HTML"><i class="fas fa-truck"></i> Administrador</a>
            </div>

            <div class="gestión de técnicos">
                <a href="modulos/gestion de técnicos.html"><i class="fas fa-truck"></i> Gestión de Técnicos</a>
            </div>

            <div class="gestión de proveedores">
                <a href="modulos/gestión de proveedores.html"><i class="fas fa-truck"></i> Gestión de Proveedores</a>
            </div>

            <div class="gestión de productos">
                <a href="modulos/gestion de producto.html"><i class="fas fa-truck"></i> Gestión de Productos</a>
            </div>

            <div class="gestión de garantias">
                <a href="modulos/Gestion de Garantias.html"><i class="fas fa-truck"></i> Gestión de Garantías</a>
            </div>

            <div class="gestión de compras">
                <a href="modulos/gestion de compras.html"><i class="fas fa-truck"></i> Gestión de Compras</a>
            </div>

            <div class="gestión de ventas">
                <a href="modulos/Gestión de ventas.html"><i class="fas fa-truck"></i> Gestión de Ventas</a>
            </div>

            <div class="servicio técnico">
                <a href="modulos/Servicio Técnico.Html"><i class="fas fa-truck"></i> Servicio Técnico</a>
            </div>


            <div class="Equipo">
                <a href="modulos/Equipos.Html"><i class="fas fa-truck"></i> Equipos</a>
            </div>




        </ul>
    </div>