{% extends "categoria/plantilla.html" %}
{% load static %}
{% block content %}
<div class="col-md-12">
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">GESTIÓN DE EQUIPOS</h3>
    </div>
    <div class="card-body table-responsive p-0">
      <table id="tabla_equipos" class="table table-bordered table-hover dataTable">
        <thead>
          <tr>
            <th>ID</th><th>Nombre</th><th>Descripción</th><th>Estado</th><th>OPCIONES</th>
          </tr>
        </thead>
        <tbody>
          {% for e in equipos %}
          <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.descripcion }}</td>
            <td>{{ e.estado|yesno:"Activo,Inactivo" }}</td>
            <td>
              <a href="{% url 'apl:editar_equipo' e.id %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
              <a href="{% url 'apl:eliminar_equipo' e.id %}" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="card-footer">
        <a href="{% url 'apl:crear_equipo' %}" class="btn btn-success btn-xs">
          <i class="fas fa-plus-circle"></i> Agregar
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#tabla_equipos').DataTable();
  });
</script>
{% endblock %}


