{% extends "categoria/plantilla.html" %}
{% load static %}
{% block content %}
<div class="col-md-12">
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-users-cog"></i> GESTIÓN DE TÉCNICOS</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="tabla_tecnicos" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Documento</th>
              <th>Teléfono</th>
              <th>Correo</th>
              <th>Dirección</th>
              <th>Tipo Técnico</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for t in tecnicos %}
            <tr>
              <td>{{ t.nombre_completo }}</td>
              <td>{{ t.n_documento }}</td>
              <td>{{ t.numero_telefonico }}</td>
              <td>{{ t.correo }}</td>
              <td>{{ t.direccion }}</td>
              <td>{{ t.tipo_tecnico }}</td>
              <td>
                <a href="{% url 'apl:tecnico_editar' t.id_tecnico %}" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i></a>
                <a href="{% url 'apl:tecnico_eliminar' t.id_tecnico %}" class="btn btn-danger btn-sm">Eliminar</a>

              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <a href="{% url 'apl:tecnico_crear' %}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Agregar Técnico</a>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#tabla_tecnicos').DataTable();
  });
</script>
{% endblock %}
