{% extends "categoria/plantilla.html" %}
{%load static%}
{%block content%}
  <br>
   <br>
   <br>
   <br>
   <br>
   <br>
     <br>
   <br>
   <br>
        


<div class="col-md-12">

            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-exclamation-triangle"></i>
         SOMOS DIGIT SOFT
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">GESTION MARCAS</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">

              <!--aqui va la tablaa-->
  <div class="col-sm-12">
    <table id="tabla_productos" class="table table-bordered table-hover dataTable dtr-inline">
      <thead>
        <tr> 
          <th>id_marca</th>
          <th>color</th>
          <th>marca</th>
          <th>descripcion</th>
          <th>OPCIONES</th>
        </tr>
      </thead>
    <tbody>
  {% for c in marcas %}
  <tr>

    <td>{{ c.id_marca }}</td>
    <td>{{ c.color }}</td>
    <td>{{ c.marca }}</td>
    <td>{{ c.descripcion }}</td>
    <!-- Aquí se agregan los botones de editar y eliminar -->
      <td>
      <a href="{% url 'apl:marca_editar' c.id_marca %}" class="btn btn-primary btn-xs">
        <i class="fas fa-edit"></i>
      </a>
      <a href="{% url 'apl:marca_eliminar' c.id_marca %}" class="btn btn-danger btn-xs">
        <i class="fas fa-trash"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</tbody>

    </table>
     <div class="card-footer">
<a href="{% url 'apl:marca_listar' %}" class="btn btn-primary btn btn-xs"><i class="fas fa-edit"></i>Agregar</a>
      </div>
  </div>
</div>
<script>
        $(document).ready(function () {
      $('#tabla_productos').DataTable();
      });
    </script>
  
{%endblock%}

