#Ignorar base de datos
*.sqlite3
db.sqlite3


#Ignorar archivos de entorno
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.log

#Ignorar carpetas de entorno virtual
.venv/
env

#Ignorar configuración de editores
.vscode/
.idea/

#Ignorar archivos de sistema
.DS_store
Thumbs.db

