     
     <!--este bloque encierra el .DataTable para agragar funciones a la tabla como buscar y aja-->
     {%block metodo_datatables%}
    
    {%endblock%}
     <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h3>Digit Soft</h3>
                    <p>Soluciones informáticas integrales para hogares y empresas. Calidad, confianza y profesionalismo.
                    </p>
                </div>
                <div class="footer-section">
                    <h3>Enlaces Rápidos</h3>
                    <ul>
                        <li><a href="#inicio">Inicio</a></li>
                        <li><a href="#servicios">Servicios</a></li>
                        <li><a href="#productos">Productos</a></li>
                        <li><a href="#nosotros">Nosotros</a></li>
                        <li><a href="#contacto">Contacto</a></li>
                        <li><a href="#ingreso">Ingreso</a></li>
                        <li><a href="#crear usuario">Crear Usuario</a></li>

                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a href="#">Infraestructura</a></li>
                        <li><a href="#">Soporte Técnico</a></li>
                        <li><a href="#">Software</a></li>
                        <li><a href="#">Diseño Web</a></li>
                        <li><a href="#">Venta</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Suscríbete</h3>
                    <p>Recibe nuestras promociones y noticias.</p>
                    <form id="newsletterForm">
                        <input type="email" placeholder="Tu correo electrónico" required>
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
  
        <div class="footer-bottom">
            <div class="container">
                <p>&copy; 2025 Digit Soft. Todos los derechos reservados.</p>
            </div>
        </div>
  
    </footer>
