{% extends "categoria/plantilla.html" %}
{%load static%}
{%block content%}
  <br>
   <br>
   <br>
   <br>
   <br>
   <br>
     <br>
   <br>
   <br>
        


<div class="col-md-12">

            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-exclamation-triangle"></i>
                  Alerts
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">GESTION DE facturaciones</h3>
       
                
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">

              <!--aqui va la tablaa-->
  <div class="col-sm-12">
    <table id="tabla_productos" class="table table-bordered table-hover dataTable dtr-inline">
      <thead>
        <tr> 
          <th>ID_RECIBO</th>
          <th>FECHA</th>
          <th>ID DE VENTA</th>
          <th>DESCRIPCION DE LA VENTA</th>
            <th>NIT DIGITSOFT</th>
          <th>OPCIONES</th>
        </tr>
      </thead>
    <tbody>
  {% for c in object_list %}
  <tr>
    <td>{{ c.id_recibo }}</td>
    <td>{{ c.fecha_id_venta }}</td>
    <td>{{ c.ventas_id_venta }}</td>
    <td>{{ c.descripcion_venta }}</td>
    <td>{{ c.nit_digitsoft }}</td>
    <!-- Aquí se agregan los botones de editar y eliminar -->
      <td>
      <a href="{% url 'apl:facturacion_editar' c.id_recibo %}" class="btn btn-primary btn-xs">
        <i class="fas fa-edit"></i>
      </a>
      <a href="{% url 'apl:facturacion_eliminar' c.id_recibo %}" class="btn btn-danger btn-xs">
        <i class="fas fa-trash"></i>
      </a>
    </td>
  </tr>
  {% endfor %}
</tbody>

    </table>
     <div class="card-footer">
        <a href="{{crear_ruta_url}}" class="btn btn-primary btn btn-xs"><i class="fas fa-edit"></i>Agregar</a>
      </div>
  </div>
</div>
<script>
        $(document).ready(function () {
      $('#tabla_productos').DataTable();
      });
    </script>
  
{%endblock%}

